body {
    background-image: url("../images/footballbackground.jpg");
    background-size: contain;
    color: black;
    font-weight: bold;
}

#bodybackground {
    background-image:  url("../images/footballbackground.jpg");
    background-size: contain;
    position: relative;
    height: 100vh;
}

#gameTitle {
    color: black;
}