body {
    background-image: url("../images/footballbackground.jpg");
    background-size: contain;
    color: white;
    font-weight: bold;
}

.card-body {
    background-image:  url("../images/footballbackground.jpg");
    background-size: contain;
}

#gameTitle {
    color: black;
}